body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #151515;
    padding: 0 10px;
    font-family: "Segoe UI", sans-serif;
    font-weight: lighter;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.link {
    color: #0000EE
}

.home {
    color: #151515;
    text-decoration: none;
}

/* a:visited {
    color: #0000EE
}

a:hover {
    color: #0000EE
}
 */
.image {
    max-width: 650px;
}