body {
    margin: 20px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #151515;
    padding: 0 10px;
    font-family: "Segoe UI", sans-serif;
    font-weight: lighter;
}

p {
    display: inline;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.opposite-sides {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    color: #0000EE
}

.stealth-link {
    color: #151515;
    text-decoration: none;
}

.image {
    max-width: 650px;
}

ul {
    margin: 0;
}
