body {
    margin: 20px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #151515;
    padding: 0 10px;
    font-family: "Segoe UI", sans-serif;
    font-weight: lighter;
}

p {
    display: inline;
}

.row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.opposite-sides {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link {
    color: #0000EE
}

.stealth-link {
    color: #151515;
    text-decoration: none;
}

.image {
    max-width: 100%;
}

ul {
    margin: 0;
}

.lowProfileHeader {
    margin-top: 2px;
    margin-bottom: 8px;
}

.imageWithSmallText {
    font-size: 12px;
    color: #2b2b2b;
    margin: 0px;
    padding: 0px;
}

.githubLogo {
    max-width: 50px;
}

.smallGithubLogo {
    max-width: 30px;
}

.shaderToyLogo {
    max-width: 75px;
}